:root {
  --black: #000;
  --dark_black: #000000;
  --white: #FFF;
  --blue: #4a02f7;
}

.card {
  margin-top: 10%;
  background: var(--white);
  color: var(--black);
  transition: all 400ms ease-out;
  width: auto;
  display: 'inline-block';
  text-align: center;
  text-transform: uppercase
}

.card-active {
  background: linear-gradient(45deg, var(--dark_black), var(--blue));
  color: var(--white);
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
}

.name {
  text-align: center;
}

.card-footer {
  padding: -0.25rem 1.25rem !important;
}