.component {
  /* margin-left: 1%; */
}

.card {
  margin-top: 10%;
  background: #FFF;
  color: #000;
  transition: all 400ms ease-out;
  width: auto;
  display: 'inline-block';
  text-align: center;
  text-transform: uppercase
}

.card-active {
  background: linear-gradient(45deg, black, #4a02f7);
  color: #FFF;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
}

.name {
  text-align: center;
}

.card-footer {
  padding: -0.25rem 1.25rem !important;
}