.image {
    width: 100%;
}

.name {
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
}

.subtitle {
    font-size: 1.25rem;
}

.modalButton {
    margin-left: 10px;
}

.tableInformation {
    text-align: center;
}