.navStyles {
    display: flex;
    padding: 20px;
    justify-content: space-around;
}

.navActive {
    color: black;
}

.linkColor {
    color: black;
}

.navBar {
    position: sticky;
    top: 0;
    z-index: 3;
}